<!doctype html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://www.youtube.com" />
  <!-- Metadata -->
  <title>歌ってみたコネクト</title>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-6KDGBDHBS1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-6KDGBDHBS1');
  </script>
</head>

<body>
  <!-- Load Essential Script -->
  <script src="https://cdn.jsdelivr.net/npm/vue@3.2.26/dist/vue.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- ヘッダ -->
  <header class="text-white bg-dark">
    <div class="container">
      <div class="row g-2 mb-2 pt-2">
        <h1 class="fs-3 col-9 col-md-10 col-lg-10">
          <a class="text-reset text-decoration-none" href="./">歌ってみたコネクト</a>
        </h1>
        <div class="col-3 col-md-2 col-lg-2 d-grid my-2">
          <button type="button" class="btn btn-light py-1" data-bs-toggle="modal" data-bs-target="#aboutModal">
            About
          </button>
        </div>
      </div>
    </div>
  </header>
  <article class="container">
    <noscript>
      このサービスの利用にはJavaScriptに対応したブラウザが必要です。JavaScriptを有効にして、もう一度お試しください。
    </noscript>
    <!-- 検索条件 -->
    <h2 class="visually-hidden">検索フォーム</h2>
    <form id="inputForm" name="searchConditions" class="row g-2 mb-4">
      <div class="col-12 col-lg-9">
        <div class="form-floating input-group">
          <input type="text" class="form-control col-8 col-sm-9 col-md-10 col-lg-9" id="keyword"
            v-bind:value="keyword"></input>
          <label for="keyword" class="form-label">キーワード</label>
          <button class="btn btn-outline-secondary col-4 col-sm-3 col-md-2 col-lg-3" type="button" id="button-random"
            onClick="setRandomKeyword(true);">
            <i class="bi bi-dice-6"></i>おまかせ
          </button>
        </div>
      </div>
      <div class="col-12 col-lg-3 py-md-0 col-lg-2 d-grid mb-2 mb-md-0">
        <button type="button" class="btn btn-primary py-2" onclick="doSearch()">
          <i class="bi bi-search"></i>検索
        </button>
      </div>
    </form>
    <!-- 検索結果 -->
    <section id="resList" class="row g-2">
      <div class="col-12" style="min-height: 2.5rem;">
        <h2 class="visually-hidden">検索結果</h2>
        <p v-if="totalResults > 0">{{totalResults}}件中 {{(p - 1) * 10 + 1 }} 件目～ {{(p - 1) * 10 + items.length}} 件目を表示中
        </p>
        <p v-if="totalResults == 0">0件</p>
      </div>
      <!-- 追加情報 -->
      <aside v-if="exInfo" class="col-12 pt-2 bg-light">
        <div v-if="searchType == 'org'" class="row col-12">
          <h2 class="col-12 h3">原曲情報</h2>
          <div class="col-12 col-sm-6 col-md-4" style="position: relative; min-height: 3em;">
            <iframe v-bind:src="exInfo.iframeUrl" frameborder="0" class="w-100 visually-hidden" loading="lazy"></iframe>
            <button class="thBtn w-100 ratio ratio-21x9"
              onclick="this.classList.add('visually-hidden'); this.previousElementSibling.classList.remove('visually-hidden');">
              <img v-if="exInfo.thumbnailUrl" v-bind:src="exInfo.thumbnailUrl" class="w-100" style="object-fit:cover;"
                alt="" />
            </button>
          </div>
          <div class="col-12 col-sm-6 col-md-8 align-top">
            <div class="row">
              <div class="fs-5 col-12"> 
                <h3 class="d-inline-block h5">
                  <a v-bind:href="exInfo.orgYtUrl" class="text-decoration-none link-success">{{exInfo.orgTitle}}</a>
                </h3>
                <div v-if="exInfo.utaten" class="d-inline-block">
                  <a v-bind:href="'https://utaten.com/lyric/'+exInfo.utaten" class="link-success text-decoration-none p-2">
                    <i class="bi bi-file-text"></i>
                    <span class="visually-hidden">歌詞</span>
                  </a>
                </div>
              </div>
              <div class="col-12">
                <ul class="list-unstyled">
                  <li class="d-inline-block" style="margin-right: 0.5rem;">
                    <i class="bi bi-pencil-fill text-secondary"></i>
                    <span class="visually-hidden">作詞</span>
                    <span v-for="lyricist in exInfo.lyricists" class="p-1 mr-2 mb-1">
                      {{lyricist}}
                    </span>
                  </li>
                  <li class="d-inline-block" style="margin-right: 0.5rem;">
                    <i class="bi bi-music-note text-secondary"></i>
                    <span class="visually-hidden">作曲</span>
                    <span v-for="composer in exInfo.composers" class="p-1 mr-2 mb-1">
                      {{composer}}
                    </span>
                  </li>
                  <li class="d-inline-block" style="margin-right: 0.5rem;">
                    <i class="bi bi-mic-fill text-secondary"></i>
                    <span class="visually-hidden">原曲歌唱</span>
                    <span v-for="singer in exInfo.singers" class="p-1 mr-2 mb-1">
                      {{singer}}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12">
            <h3 class="h5">おすすめ楽曲</h3>
            <ul class="list-unstyled relSongUl">
              <li v-for="relSong in exInfo.relSongs" class="d-inline-block">
                <button class="btn btn-secondary p-1 mr-2 mb-1" v-on:click="doSearchWithOrgYtId(relSong.id)">
                  {{relSong.title}}
                </button>
                <a v-bind:href="relSong.url" class="link-success text-decoration-none p-2">
                  <i class="bi bi-youtube"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div v-if="searchType == 'voc'" class="row col-12">
          <h2 class="col-12 h3">アーティスト情報</h2>
          <div class="col-4 col-sm-4 col-md-3 col-lg-2 align-top">
            <img v-if="exInfo.ytChannelThumbnail" v-bind:src="exInfo.ytChannelThumbnail" class="w-100"
              style="object-fit:cover; border-radius:100vh;" alt="" />
          </div>
          <div class="col-8 col-sm-8 col-md-9 col-lg-10 align-top">
            <h3>{{exInfo.singerName}}</h3>
            <ul class="list-unstyled">
              <li v-if="exInfo.ytChannel">
                <a v-bind:href="'https://www.youtube.com/channel/'+exInfo.ytChannel" class="text-decoration-none">
                  <i class="bi bi-youtube text-danger"></i>
                  <span>YouTube</span>
                </a>
                <span> ({{(parseFloat(exInfo.ytChannelsubscriber)/10000).toString() + "万件"}})</span>
              </li>
              <li v-if="exInfo.twitter">
                <a v-bind:href="'https://twitter.com/'+exInfo.twitter" class="text-decoration-none">
                  <i class="bi bi-twitter text-secondary"></i>
                  <span class="visually-hidden">Twitter:</span>
                  <span class="code">{{exInfo.twitter}}</span>
              </li>
              <li v-if="exInfo.tiktok">
                <a v-bind:href="'https://www.tiktok.com/@'+exInfo.spotify" class="text-decoration-none">
                  <i class="bi bi-tiktok text-secondary"></i>
                  <span class="visually-hidden">Tiktok: </span>
                  <span class="code">{{exInfo.tiktok}}</span>
                </a>
              </li>
              <li v-if="exInfo.spotify">
                <a v-bind:href="'https://open.spotify.com/artist/'+exInfo.spotify" class="text-decoration-none">
                  <i class="bi bi-boombox-fill text-secondary"></i>
                  <span>Spotify</span></a>
              </li>
              <li v-if="exInfo.wkpJa">
                <a v-bind:href="exInfo.wkpJa" class="text-decoration-none">
                  <i class="bi bi-journal text-secondary"></i>
                  <span>Wikipedia: </span>
                  <span class="code">{{exInfo.wkpName}}</span>
                </a>
              </li>
              <li v-if="exInfo.wikidata">
                <a v-bind:href="'http://wikidata.org/entity/'+exInfo.wikidata" class="text-decoration-none">
                  <i class="bi bi-link-45deg text-secondary"></i>
                  <span class="visually-hidden">Wikidata:</span>
                  <span class="code">{{exInfo.wikidata}}</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </aside>
      <!-- ページネーション -->
      <nav class="col-12" aria-label="pagination">
        <ul v-if="pages" class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link text-secondary" href="#" v-bind:onclick="'doSearch(null,1);'">
              <i class="bi bi-skip-backward-fill"></i>
            </a>
          </li>
          <li v-for="page in pages" class="page-item" v-bind:class="{'active': page == p}">
            <a class="page-link" href="#" v-bind:onclick="'doSearch(null,' + page +');'">{{page}}</a>
          </li>
          <li class="page-item">
            <a class="page-link text-secondary" href="#" v-bind:onclick="'doSearch(null,' + pageMax +');'">
              <i class="bi bi-skip-forward-fill"></i>
            </a>
          </li>
        </ul>
      </nav>
      <!-- Loading -->
      <div id="loading" class="invisible col-12 d-flex justify-content-center my-10">
        <div class="spinner-grow text-secondary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <!-- Results -->
      <div class="col-12">
        <div v-for="item in items" class="mb-4 row">
          <div class="col-12 col-sm-6 col-md-4" style="position: relative; min-height: 3em;">
            <iframe v-bind:src="item.iframeUrl" frameborder="0" class="w-100 visually-hidden" loading="lazy"></iframe>
            <button class="thBtn w-100 ratio ratio-21x9"
              onclick="this.classList.add('visually-hidden'); this.previousElementSibling.classList.remove('visually-hidden');">
              <img v-if="item.thumbnailUrl" v-bind:src="item.thumbnailUrl" class="w-100" style="object-fit:cover"
                alt="" />
            </button>
          </div>
          <div class="col-12 col-sm-6 col-md-8 align-top">
            <div class="row">
              <h3 class="fs-5 col-12 h5">
                <a v-bind:href="item.ytUrl" class="text-decoration-none">{{item.label}}</a>
              </h3>
              <div class="col-12 col-md-6 col-lg-8">
                <ul class="list-unstyled" style="margin-bottom:0">
                  <i class="bi bi-mic-fill text-secondary"></i>
                  <li v-for="singer in item.singers" style="display: inline-block;">
                    <button class="btn btn-light p-1 mr-2 mb-1" v-on:click="doSearchWithVocal(singer)"
                      style="margin-right: 0.5em;">
                      {{singer}}
                    </button>
                  </li>
                  <li><i class="bi bi-soundwave"></i>
                    <button class="btn btn-light p-1 mr-2 mb-1" v-on:click="doSearchWithOrgYtId(item.orgYtId)">
                      {{item.orgTitle}}
                    </button>
                    <a v-bind:href="item.orgYtUrl" class="link-danger text-decoration-none p-2">
                      <i class="bi bi-youtube"></i>
                    </a>

                  </li>
                </ul>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <ul class="list-unstyled" style="margin-bottom:0">
                  <li class="visually-hidden">
                    <i class="bi bi-upc text-secondary"></i>
                    <span v-if="item.id" class="p-1 mr-2 mb-1">
                      {{item.id}}
                    </span>
                  </li>
                  <li><i class="bi bi-calendar text-secondary"></i>
                    <span v-if="item.issued" class="p-1 mr-2 mb-1">
                      {{item.issued.substr(0,10)}}
                    </span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ページネーション -->
      <nav class="col-12" aria-label="pagination">
        <ul v-if="pages" class="pagination justify-content-center">
          <li class="page-item">
            <a class="page-link text-secondary" href="#" v-bind:onclick="'doSearch(null,1);'">
              <i class="bi bi-skip-backward-fill"></i>
            </a>
          </li>
          <li v-for="page in pages" class="page-item" v-bind:class="{'active': page == p}">
            <a class="page-link" href="#" v-bind:onclick="'doSearch(null,' + page +');'">{{page}}</a>
          </li>
          <li class="page-item">
            <a class="page-link text-secondary" href="#" v-bind:onclick="'doSearch(null,' + pageMax +');'">
              <i class="bi bi-skip-forward-fill"></i>
            </a>
          </li>
        </ul>
      </nav>

    </section>
  </article>

  <script>
    //JSON取得fuction
    async function getJson(url) {
      const res = await fetch(url)
      if (res.ok) {
        return await res.json();
      } else if (res.status >= 400) {
        await new Promise(resolve => setTimeout(resolve, 500));
        return;
      } else {
        await new Promise(resolve => setTimeout(resolve, 50));
        return;
      }
    }

    //初期化
    var coverDict;
    var orgSongDict;
    var cosSimDict;
    (async function () {
      //カバー楽曲リスト取得
      coverDict = await getJson('./coverList.json');
      //原楽曲リスト取得
      orgSongDict = await getJson('./orgSongInfo.json');
      //類似楽曲データ取得
      cosSimDict = await getJson('./cosSim.json');
      //アーティストリスト取得
      singerDict = await getJson('./singerList.json');
    }());

    // 検索フォーム（Vue）
    const inputFormApp = Vue.createApp({
      data() {
        return {
          keyword: "",
          from: null,
          to: null
        }
      }
    })
    const inputForm = inputFormApp.mount('#inputForm')
    // 検索結果（Vue）
    const resListApp = Vue.createApp({
      data() {
        return {
          items: null,
          totalResults: null,
          pages: null,
          pageMax: null,
          p: null,
          searchType: null,
          exInfo: null
        }
      },
      methods: {
        doSearchWithVocal: function (vocal) {
          let keyword = "voc:" + vocal;
          doSearch(keyword);
          window.scrollTo(top);
        },
        doSearchWithOrgYtId: function (orgYtId) {
          let keyword = "org:" + orgYtId;
          doSearch(keyword);
          window.scrollTo(top);
        }
      }
    })
    const resList = resListApp.mount('#resList')

    //おまかせ検索
    async function setRandomKeyword(go = false) {
      if (!orgSongDict) {
        orgSongDict = await getJson('./orgSongInfo.json');
      }
      orgKeys = Object.keys(orgSongDict)
      let num = Math.floor(Math.random() * orgKeys.length);
      keyword = "org:" + orgKeys[num];
      inputForm.keyword = keyword;
      if (go) {
        doSearch(keyword);
      }
    };

    //Wikidataから取得
    async function getInfoFromWkd(wkd) {
      let sparqlUrl = 'https://query.wikidata.org/sparql?format=json&query=';
      const sparqlQuery = `PREFIX wdt: <http://www.wikidata.org/prop/direct/>
PREFIX wd: <http://www.wikidata.org/entity/>
PREFIX schema: <http://schema.org/>
SELECT * WHERE{
  BIND(wd:`+ wkd + ` AS ?wkd).
  ?wkd rdfs:label ?label.
  ?wkpJa schema:about ?wkd ; schema:isPartOf <https://ja.wikipedia.org/> ; schema:name ?wkpName .
  FILTER (lang(?label) = "ja")
  OPTIONAL {?wkd wdt:P856 ?url.}
  OPTIONAL {?wkd wdt:P7085 ?tiktok.}
}LIMIT 1`;
      sparqlUrl += encodeURI(sparqlQuery);
      let wkdRes = await getJson(sparqlUrl);
      if (wkdRes["results"]["bindings"].length == 1) {
        const wkd0 = wkdRes["results"]["bindings"][0]
        if (wkd0["wkpJa"]) {
          resList.exInfo["wkpJa"] = wkd0["wkpJa"]["value"];
          resList.exInfo["wkpName"] = wkd0["wkpName"]["value"];
        };
        if (wkd0["url"]) {
          resList.exInfo["url"] = wkd0["url"]["value"];
        };
        if (wkd0["tiktok"]) {
          resList.exInfo["tiktok"] = wkd0["tiktok"]["value"];
        };
      }
    }

    // 検索機能本体
    async function doSearch(keyword = null, p = 1) {

      //初期化
      document.querySelector("#loading").classList.remove("visually-hidden")
      thBtns = document.querySelectorAll(".thBtn");
      for (let elm of thBtns) {
        elm.classList.remove("visually-hidden")
      }
      iframes = document.querySelectorAll("iframe");
      for (let elm of iframes) {
        elm.classList.add("visually-hidden")
      }
      resList.items = null;
      resList.totalResults = null;

      if (!keyword) {
        keyword = document.forms.searchConditions.keyword.value;
      } else {
        inputForm.keyword = keyword;
      }
      keyword = keyword.trim()

      if (!coverDict) {
        coverDict = await getJson('./coverList.json');
      }

      let matchedItems = []

      //検索処理（org）
      if (keyword.match(/^org:/)) {
        resList.searchType = "org"
        let orgYtId = keyword.replace(/^org:/, "");
        for (cover in coverDict) {
          if (coverDict[cover]["orgYtId"] == orgYtId) {
            let itemInfo = coverDict[cover];
            itemInfo["id"] = cover;
            itemInfo["thumbnailUrl"] = "https://i.ytimg.com/vi/" + cover + "/hqdefault.jpg";
            itemInfo["iframeUrl"] = "https://www.youtube.com/embed/" + cover + "?controls=0";
            itemInfo["ytUrl"] = "https://www.youtube.com/watch?v=" + itemInfo["id"];
            itemInfo["orgYtUrl"] = "https://www.youtube.com/watch?v=" + itemInfo["orgYtId"];
            itemInfo["orgTitle"] = orgSongDict[itemInfo["orgYtId"]]["title"]
            matchedItems.push(itemInfo);
          }
        }
        let _exInfo = {};
        _exInfo["orgYtId"] = orgYtId;
        _exInfo["orgYtUrl"] = "https://www.youtube.com/watch?v=" + orgYtId;
        _exInfo["thumbnailUrl"] = "https://i.ytimg.com/vi/" + orgYtId + "/hqdefault.jpg";
        _exInfo["iframeUrl"] = "https://www.youtube.com/embed/" + orgYtId + "?controls=0";
        _exInfo["singers"] = orgSongDict[orgYtId]["performers"];
        _exInfo["lyricists"] = orgSongDict[orgYtId]["lyricists"];
        _exInfo["composers"] = orgSongDict[orgYtId]["composers"];
        _exInfo["orgTitle"] = orgSongDict[orgYtId]["title"];
        _exInfo["utaten"] = orgSongDict[orgYtId]["utaten"];
        _exInfo["relSongIds"] = Object.keys(cosSimDict[orgYtId]);
        _exInfo["relSongs"] = [];
        for (id of _exInfo["relSongIds"]) {
          _song = {
            id: id,
            title: orgSongDict[id]["title"],
            url: "https://www.youtube.com/watch?v=" + id
          }
          _exInfo["relSongs"].push(_song);
        }
        resList["exInfo"] = _exInfo;
      } else if (keyword.match(/^voc:/)) {
        resList.searchType = "voc"
        vocalName = keyword.replace(/^voc:/, "");
        for (cover in coverDict) {
          if (coverDict[cover]["singers"].includes(vocalName)) {
            let itemInfo = coverDict[cover];
            itemInfo["id"] = cover;
            itemInfo["thumbnailUrl"] = "https://i.ytimg.com/vi/" + cover + "/hqdefault.jpg";
            itemInfo["iframeUrl"] = "https://www.youtube.com/embed/" + cover + "?controls=0";
            itemInfo["ytUrl"] = "https://www.youtube.com/watch?v=" + itemInfo["id"];
            let orgYtId = coverDict[cover]["orgYtId"];
            itemInfo["orgYtUrl"] = "https://www.youtube.com/watch?v=" + orgYtId;
            itemInfo["orgTitle"] = orgSongDict[orgYtId]["title"];
            matchedItems.push(itemInfo);
          }
        }
        if (singerDict[vocalName]) {
          let _exInfo = {};
          _exInfo["singerName"] = vocalName;
          _exInfo["ytChannel"] = singerDict[vocalName]["ytChannel"];
          _exInfo["ytChannelThumbnail"] = singerDict[vocalName]["ytChannelThumbnail"];
          _exInfo["ytChannelsubscriber"] = singerDict[vocalName]["ytChannelsubscriber"];
          if (singerDict[vocalName]["wikidata"]) {
            _exInfo["wikidata"] = singerDict[vocalName]["wikidata"];
          }
          if (singerDict[vocalName]["twitter"]) {
            _exInfo["twitter"] = singerDict[vocalName]["twitter"];
          }
          if (singerDict[vocalName]["spotify"]) {
            _exInfo["spotify"] = singerDict[vocalName]["spotify"];
          }
          resList["exInfo"] = _exInfo;

        }
      } else {
        for (cover in coverDict) {
          if (coverDict[cover]["label"].match(keyword)) {
            let itemInfo = coverDict[cover];
            itemInfo["id"] = cover;
            itemInfo["thumbnailUrl"] = "https://i.ytimg.com/vi/" + cover + "/hqdefault.jpg";
            itemInfo["iframeUrl"] = "https://www.youtube.com/embed/" + cover + "?controls=0";
            itemInfo["ytUrl"] = "https://www.youtube.com/watch?v=" + itemInfo["id"];
            itemInfo["orgYtUrl"] = "https://www.youtube.com/watch?v=" + itemInfo["orgYtId"];
            itemInfo["orgTitle"] = orgSongDict[itemInfo["orgYtId"]]["title"];
            matchedItems.push(itemInfo);
            resList["exInfo"] = {}
          }
        }
      }

      //新しい順でソート
      function compareByIssued(a, b) {
        let issuedA = a["issued"];
        let issuedB = b["issued"];
        let comparison = 0;
        if (issuedA > issuedB) {
          comparison = 1;
        } else if (issuedA < issuedB) {
          comparison = -1;
        }
        return comparison * -1;
      }
      matchedItems.sort(compareByIssued);

      let resNumFrom = (p - 1) * 10 + 1;
      let resNumTo = p * 10;
      if (matchedItems.length < resNumTo) {
        resNumTo = matchedItems.length;
      }

      let arrNum = Array.from(Array(resNumTo - resNumFrom + 1), (_, i) => i + resNumFrom - 1);
      let _items = []
      for (num of arrNum) {
        _items.push(matchedItems[num]);
      }

      resList.items = _items
      resList.totalResults = matchedItems.length;

      //ページ処理
      resList.p = p;
      let pageNum = Math.ceil(resList.totalResults / 10)
      let pageMax = pageNum < 1000 ? pageNum : 1000;
      resList.pageMax = pageMax;
      if (pageNum <= 5) {
        pageMin = 1;
        pageNum = pageNum;
      } else if (p <= 3) {
        pageMin = 1;
        pageNum = 5;
      } else if (p >= pageNum - 2) {
        pageMin = pageNum - 4;
        pageNum = 5;
      } else if (p >= 998) {
        pageMin = 996;
        pageNum = 5;
      } else {
        pageMin = p - 2;
        pageNum = 5;
      }
      resList.pages = [...Array(pageNum).keys()].map(i => i + pageMin);

      document.querySelector("#loading").classList.add("visually-hidden");

      location.hash = keyword;

      if (resList["exInfo"]["wikidata"]) { getInfoFromWkd(resList["exInfo"]["wikidata"]) }
    }

    if (location.hash.match(/^#(org|voc):.+/)) {
      let keyword = decodeURI(location.hash).slice(1);
      doSearch(keyword);
    }

  </script>

  <link rel="preload" as="style" onload="this.rel='stylesheet'; this.onload=null;"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.min.css" />
  <link rel="preload" as="style" onload="this.rel='stylesheet'; this.onload=null;"
    href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.4.1/dist/css/yakuhanjp.min.css" />
  <link rel="preload" as="style" onload="this.rel='stylesheet'; this.onload=null;"
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap&subset=japanese" />
  <style>
    .bi {
      margin-right: 0.2rem;
    }

    #resList {
      text-align: justify;
    }

    body {
      font-family: YakuHanJP, "Noto Sans JP", "Yu Gothic", "游ゴシック", sans-serif;
    }

    span.code {
      font-family: 'Noto Sans Mono CJK JP', Consolas, 'Roboto Mono', 'Courier New', monospace;
    }

    button.thBtn {
      width: auto;
      padding: 0;
      margin: 0;
      background: none;
      border: 0;
    }

    ul.relSongUl {
      overflow-y: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;
      width: 100%;
      white-space: nowrap;
    }

    ul.relSongUl::-webkit-scrollbar {
      display: none;
    }
  </style>
  <!-- About Modal -->
  <div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="About" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title fs-5" id="exampleModalLabel">About</h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>いろいろとつくりかけです……</p>
          <p>LODを使って「歌ってみた」を探しやすく、また新しい「歌ってみた」との出会いができたらいいな、というサービスです。</p>
          <h3 class="h5">使用したAPI、オープンデータ</h3>
          <ul>
            <li>YouTube Data API</li>
            <li>Wikidata</li>
            <li></li>
          </ul>
          <h3 class="h5">データセット</h3>
          <ul>
            <li>
              <a href="./singerList.json"><code>singerList.json</code></a>
              : 歌唱者情報
            </li>
            <li>
              <a href="./orgSongInfo.json"><code>orgSongList.json</code></a>
              : 原曲情報
            </li>
            <li>
              <a href="./coverList.json"><code>coverList.json</code></a>
              : 「歌ってみた」カバー情報
            </li>
          </ul>
          <p>※LOD版準備中</p>
          <h3 class="fs-6">Contact:</h3>
          <p>つくったひと： Daichi Machiya. (@da1blue)</p>
          <p>なにかありましたら、<i class="bi bi-twitter"></i><a href="https://twitter.com/da1blue">Twitter</a>または<i
              class="bi bi-mailbox"></i><a href="https://marshmallow-qa.com/da1blue">マシュマロ</a>からご連絡ください。</p>
          <small>このサービスのソースコード及び公開しているデータセットはCC BY
            4.0での利用を許諾します。なお、YouTubeのAPIにより表示されている画像及び動画は個々の著作権者・著作隣接権者等に帰属します。</small>
        </div>
      </div>
    </div>
</body>

</html>